@media (max-width:1024px){header{gap:600px;}}
header{background-color: blue; justify-content: center; width:100%; padding:20px; display:flex; align-items: center;}
header a{color:azure; font-size: 200%;  text-decoration: none; margin:0 30px; }
table{width:80%; margin: 30px auto; border-collapse: collapse; font-family: Arial, Helvetica, sans-serif; text-align: center;}
th, td{border: 1px solid #333; padding:12px;}
td:hover{background-color: bisque;}
img{display: block; border-radius: 90px; border: 3px solid blue; margin: 10px auto;}
footer{position: fixed; bottom: 0; left: 0; width: 100%; text-align: center; background-color: blue; color: azure;}
li{display: inline; margin: 0 10px;}
.log{display:flex; flex-direction: column; text-align:center;justify-content: center; align-items: center;
    font-family: 'Times New Roman', Times, serif; font-size: 200%;}
input ,button{ box-shadow:2px -2px 2px grey ;margin: 10px; padding:10px 20px; width:300px; height:50px;}